@import "src/sass/base/mixins"
.header
  &__container
   padding: 61px 0 27px 0
   display: flex
   align-items: center
   justify-content: space-between
  &__logo
    width: 30px
    height: 30px
  &__h2
    @include text(800,7px,normal,#fff)
    text-transform: uppercase
    width: 170px
  &__cart
    border-radius: 19.225px
    padding: 0 9px 0 17px
    background: #464646
    width: 131px
    height: 36px
    fill: #464646
    box-shadow: 6.942361831665039px 1.602083444595337px 2.136111259460449px 0 rgba(255, 255, 255, 0.26) inset, -2.136111259460449px -3.738194704055786px 2.136111259460449px 0px rgba(255, 255, 255, 0.25) inset, -5.340278148651123px 5.340278148651123px 2.136111259460449px 0px #464646 inset, 5.340278148651123px -5.340278148651123px 2.136111259460449px 0px #464646 inset, -5.340278148651123px 10.680556297302246px 5.340278148651123px 0px rgba(255, 255, 255, 0.25) inset, 5.340278148651123px -2.6701390743255615px 12.816667556762695px 0px #464646 inset
    display: flex
    gap: 5px
    align-items: center
    &_second
      display: none

  &__reg
    display: flex
    align-items: center
    justify-content: center
    @include text(500,14px,8.544,#fff)
    border-radius: 19.225px
    background: #EC9611
    padding: 5px
    width: 129px
    height: 34px
    box-shadow: 6.942361831665039px 1.602083444595337px 2.136111259460449px 0 rgba(255, 255, 255, 0.26) inset, -2.136111259460449px -3.738194704055786px 2.136111259460449px 0px rgba(255, 255, 255, 0.25) inset, -5.340278148651123px 5.340278148651123px 2.136111259460449px 0px #FFA852 inset, 5.340278148651123px -5.340278148651123px 2.136111259460449px 0px #EC9611 inset, -5.340278148651123px 10.680556297302246px 5.340278148651123px 0px rgba(255, 255, 255, 0.25) inset, 5.340278148651123px -2.6701390743255615px 12.816667556762695px 0px #EC9611 inset

@media (min-width: 481px)
  .header
    &__container
      padding: 88px 0 20px 0


@media (min-width: 768px)
  .header
    &__container
      justify-content: flex-start
      max-width: 868px
      padding: 20px 0 17px 0
    &__reg
      width: 108px
      @include text(500,11px,8.544,#fff)
    &__cart
      display: none
      &_second
        display: flex
        gap: 6px
        margin-right: 9px
        width: 151px



@media (min-width: 1024px)

@media (min-width: 1440px)